apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: allow-api-to-backends
  namespace: petclinic
spec:
  selector:
    matchLabels:
      app: customers-service 
  action: ALLOW
  rules:
  - from:
    - source:
        principals: 
          - "cluster.local/ns/petclinic/sa/api-gateway"
          - "cluster.local/ns/petclinic/sa/zap-scanner"
    to:
    - operation:
        methods: ["GET", "POST", "PUT", "DELETE"]

---
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: allow-api-to-vets
  namespace: petclinic
spec:
  selector:
    matchLabels:
      app: vets-service
  action: ALLOW
  rules:
  - from:\n    - source:
        principals: 
          - \"cluster.local/ns/petclinic/sa/api-gateway\"
          - \"cluster.local/ns/petclinic/sa/zap-scanner\"\n\n---
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: allow-api-to-visits
  namespace: petclinic
spec:
  selector:
    matchLabels:
      app: visits-service
  action: ALLOW
  rules:
  - from:
    - source:
        principals: 
          - "cluster.local/ns/petclinic/sa/api-gateway"
          - "cluster.local/ns/petclinic/sa/zap-scanner"

---
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: allow-all-to-config
  namespace: petclinic
spec:
  selector:
    matchLabels:
      app: config-server
  action: ALLOW
  rules:
  - from:
    - source:
        namespaces: ["petclinic"] 
    to:
    - operation:
        methods: ["GET"] 
        ports: ["8888"]
  # ZAP scanner is already allowed by namespace rule above
---
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: allow-zap-to-api-gateway
  namespace: petclinic
spec:
  selector:
    matchLabels:
      app: api-gateway
  action: ALLOW
  rules:
  # Allow from ingress gateway and ZAP scanner
  - from:
    - source:
        principals: 
          - "cluster.local/ns/istio-system/sa/istio-ingressgateway-service-account"
          - "cluster.local/ns/petclinic/sa/zap-scanner"
  # Allow from other services in namespace
  - from:
    - source:
        namespaces: ["petclinic"] 